.single-book-result {
  float: left;
  cursor: pointer;
  width: 10em;
  height: 16em;
  border: black 2px solid;
  margin-right: 1em;
  margin-top: 1em;
  padding: 1em;
}

.single-book-result img {
  border: black 2px solid;
}

.single-book {
  position: relative;
  float: left;
  width: 20em;
  height: 32em;
  border: black 2px solid;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
  text-align: center;
  background: #F7E5BF;
  color: #58392c;
}

.search-result-img {
  height: 100%;
  width: 100%;
}

.all-my-books-img {
  height: 50%;
  width: 50%;
  border: black 2px solid;
}

.search-result-container {
  position: relative;
}

.book-title {
  height: 4em;
  font-weight: bold;
  text-align: center;
}

.book-subtitle {
  font-size: 0.8em;
}

.book-owner {
  font-weight: bold;
  text-align: center;
}

.book-facts {
  margin-top: 1.5em;
}

.trade-button {
  position: absolute;
  width: 50%;
  height: 1.5em;
  bottom: 0;
  left: 0;
  background: #EAD2A4;
  border: none;
  border-top: 2px black solid;
  border-right: 2px black solid;
  outline: none;
}

.preview-button {
  position: absolute;
  width: 50%;
  height: 1.5em;
  bottom: 0;
  right: 0;
  background: #EAD2A4;
  border: none;
  border-top: 2px black solid;
  outline: none;
}

.description-button {
  position: absolute;
  width: 50%;
  height: 1.5em;
  bottom: 1.5em;
  left: 0;
  background: #EAD2A4;
  border: none;
  border-top: 2px black solid;
  border-right: 2px black solid;
  outline: none;
}

.owner-opinion-button {
  position: absolute;
  width: 50%;
  height: 1.5em;
  bottom: 1.5em;
  right: 0;
  background: #EAD2A4;
  border: none;
  border-top: 2px black solid;
  outline: none;
}

.info {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 90%;
  background: #EAD2A4;
  padding: 0.2em;
  word-wrap: break-word;
  overflow:scroll;
  overflow-x: hidden;
}

.comment-input, #user-comment {
  position: absolute;
  left: 1em;
  bottom: 1em;
  width: 90%;
  height: 8em;
  resize: none;
}

.whole-nav {
  background: #EAD2A4;
  font-weight: bold;
  height: 4.5em;
}

.whole-nav a {
  color: #7D5D4E;
  font-family: "Times New Roman", serif;
  font-size: 1.5em;
  text-decoration: none;
}

.nav-button {
  height: 2em;
  float: left;
  margin-left: 1em;
  margin-top: 1em;
}

.all-my-books {
  margin-top: 1em;
}

/* login */

#login-buttons a {
  text-decoration: none!important;
}

#login-buttons {
  line-height: inherit!important;
  right: 1.5em;
  position: absolute;
}

#login-dropdown-list {
  left: -10em!important;
}

/* end login */

.my-trade-requests {
  float: left;
  margin-right: 1em;
}

.trade-buttons {
  margin-top: 1.5em;
  margin-left: 1em;
}

.my-trade-requests, .my-trade-offers, .search-button {
  background: #EAD2A4;
  color: #7D5D4E;
  height: 2em;
  width: 10em;
}

.single-book-result {
  background: #F7E5BF;
}

.search-container {
  margin-top: 1em;
  margin-left: 1em;
}

.search-for-book {
  margin-top: 1em;
  color: #58392c;
  font-weight: bold;
}

.search-button {
  margin-left: 1em;
}

.input-field {
  height: 2em;
  width: 20em;
  padding: 3px;
  color: #58392c;
}

.user-info {
  margin-left: 1em;
  margin-top: 1.5em;
  color: #58392c;
}

.change-profile-inputs {
  margin-top: 1.5em;
}

.banner {
  position: absolute;
  background: url("img/banner.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 40%;
}

.welcome-screen {
  position: absolute;
  bottom: 30%;
  color: #58392c;
  width: 100%;
}

.welcome-title {
  float: left;
  text-align: center;
  width: 100%;
  font-size: 5em;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.welcome-description {
  float: left;
  text-align: center;
  width: 100%;
  font-size: 4em;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.about-container {
  margin-top: 1.5em;
  margin-left: 1em;
  color: #58392c;
  font-size: 3em;
}

.offer-terms {
  color: #58392c;
  top: 1em;
  position: absolute;
  left: 1em;
  overflow: auto;
  width: 70%;
}

.x-button {
  position: absolute;
  right: 0.5em;
  top: 1em;
}

.y-button {
  position: absolute;
  right: 11em;
  top: 1em;
}

.single-offer {
  background: #f7e5bf;
  height: 4em;
  border: 2px black solid;
  margin-top: 0.5em;
  margin-right: 2em;
  padding: 3px;
  position: relative;
}

.showing-requests {
  margin-left: 13em;
}